body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;

}

.main_content{
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;

}

/* about styles */
.about {
        margin-bottom: 40px;

}

.about_position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about_description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
/* project styles */
.Projects {
    margin-bottom: 50px;
    /* margin: 100px 90px 100px 60px;
    margin: 50px;
    margin: 100px 50px; */
    }

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
    .projects_list {
        padding: 0;
        margin-left: 15px;
    }

.projects_item {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}

.project, .project_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
 }

.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

 .project_link{
     margin-left: 10px;
 }

        /* padding: 100px 20px 50px 20px;
        padding: 50px;
        padding: 100px 50px */ 

    .work-position{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 10px;
    }

    .organization, .university{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FB6D3A;
    }

    .period{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #A8A8A8;
        margin-bottom: 10px;
    }

    .line{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
    }

    .work_list{
        padding: 0;
        margin-left: 15px;
    }

    .work_list_item{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }

    /* .Education{} */

    .faculty, .university{
        margin-top: 10px;
        margin-bottom: 10px;

    }

    /* sidebar styles */

    .sidebar{
        background-color: #1E2939;
        padding-top: 40px;
        width: 370px;
    }

    .photo{
        width: 370px;
        margin-bottom: 50px;
    }

    .contacts, .tech_skills {
        margin-left: 40px;
        margin-bottom: 50px;
    }
    .tech_skills{
        margin-left: 40px;
    }

    .soft_skills{
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .Courses {
        margin-left: 40px;    
    }

    .sidebar_title{
        color: #ffff;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }

    .contact_type{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 10px;
    }

    .contact_link{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.5;   
    }

    .tech_skills_list, .soft_skills_list, .courses_list {
        color: #fff;
        padding: 0;
        margin-left: 17px;
    }
    
    .tech_skills_item, .soft_skills_item, .courses_item, .cours_name {
        color: #FB6D3A;
    }

    .tech_skills_text, .soft_skills_text, .courses_text {
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }